@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
   }

   .main-section {
    display: grid;
    place-items: center;
    height: 100vh;
  }
   .calculator {
    width: 450px;
    padding: 30px 30px;
    background-color: var(--app-dark-bg);
    border-radius: 8px;
  }
  .display {
    width: 100%;
  }
  .display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    color: #fff;
    font-size: 30px;
  }

.buttons {
  display: flex;
}

  .buttons input[type="button"] {
    font-size: 20px;
    padding: 17px;
    width: 240px;
    height: 100px;
    border: none;
    background-color: var(--app-dark-bg);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }

  .buttons input[type="button"].divide {
    width: 100px;
  }

  .buttons input[type="button"].clear {
    width: 300px;
  }
  .buttons input[type="button"]:hover {
    background-color: #000d2e;
  }
  input[type="button"].equal {
    background-color: var(--app-orange);
    width: 500px;
  }

  input[type="button"].equal:hover {
    background-color: #f87325;;
  }

